
#page-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 1rem;
	padding-bottom: .75rem;
	background: #f7f7f7;
	z-index: 100;

	@media #{$small-and-down} {
		background: #eee;
	}

	@media #{$medium-and-up} {

	}

	@media #{$large-and-up} {
		
	}
	
	.wrapper {
		
		&:after {
			content: '';
			clear: both;
			display: block;
		}

	}

	.footer-navbar {
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		margin-top: .5rem;

		@media #{$medium-and-up} {
			margin-top: .8rem;
		}

		a {
			color: color("grey", "base");
			font-weight: 500;
			display: inline-block;
			margin-right: .5rem;
		}

	}

	.social-networks {
		line-height: 1;
		float: right;

		i {
			display: block;
		}

		a {
			color: color("grey", "base");
			line-height: 1;
			font-size: 2.1rem;
			display: inline-block;
			margin-left: .0625rem;
		}

	}

}